.features {
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 1rem 0 1rem 0;

  &__title {

  }

  &__list {
    display: flex;
    justify-content: center;

    &__item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
      &__icon {
        font-size: 5rem;
      }
    }
  }
}